<div class="card text-white bg-dark mb-3">
<h1><strong><%= @restaurant.name %></strong></h1>
<p><em>Address:</em> <%= @restaurant.address %></p>
<p><em>Phone:</em> <%= @restaurant.phone_number %></p>
<p><em>Category:</em> <%= @restaurant.category.capitalize %></p>
  <div>
    <h3>Reviews:</h3>
    <ul >
      <% @restaurant.reviews.each do |review| %>
        <li class="card text-white bg-primary mb-3"><strong>Review: </strong><%= review.content %> <strong>Rating: </strong><%= review.rating %></li>
      <% end %>
    </ul>
  </div>
  <div>
    <%=link_to "back", restaurants_path, class: "btn btn-primary" %>
  </div>
  <div>
    <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary my-4" %>
  </div>
</div>
